<% content_for :sidebar do %>
<p>
	<%= link_to image_tag('newfamilyicon.jpg'), new_family_path %>
</p>
	<p>
	Stats:<br/>
	Families: <%= Family.count %><br/>
	Children: <%= Child.count %><br/>
	</p>
	<p>This is Tribuo. On this main page, you can get updates on the status of your project and see any issues that need to be taken care of.</p>
<% end %>

<div class="news" id="tribuonews">
	<% for post in @posts %>
	<div class="post_item"id="post_<%= post.id %>">
		<p class="post-title"><%=h post.title %></p>
		<p class="post-author">posted by <%= link_to post.user.name, user_url(post.user) %> <%= distance_of_time_in_words(Time.now, post.created_at, false)%> ago</p>
		<p class="post-body"><%=h post.body %></p>
	</div>
	<% end %>
	<p>
		<%= link_to "Read More...", posts_url %>
	</p>
</div>