<h1>Children of the <%= @family.lastname.capitalize %> Family </h1>

<% if !@children.empty? %>
<table>
  <tr>
    <th>Name</th>
    <th>Age</th>
    <th>Agetype</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @children.each do |child| %>
  <tr>
    <td><%= child.name %></td>
    <td><%= child.age %></td>
    <td><%= child.agetype %></td>
    <td><%= link_to 'Show', family_child_path(@family, child) %></td>
    <td><%= link_to 'Edit', edit_family_child_path(@family, child) %></td>
    <td><%= link_to 'Destroy', family_child_path(@family, child), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<% else %>
	<h1> No Children Found</h1>
<% end %>


<% content_for :sidenav do %>

<ul class="main_menu">
	<li><%= link_to "Back to Family", @family %></li>
	<li><%= link_to 'New Child', new_family_child_path(@family) %></li>
</ul>
<% end %>