<h1>Listing Children</h1>

<table>
  <tr>
    <th>Family</th>
    <th>Name</th>
  </tr>

<% for child in @children %>
  <tr>
    <td><%=h child.family.lastname %></td>
    <td><%=h child.name %></td>
    <td><%= link_to 'Show', [@family, child] %></td>
    <td><%= link_to 'Edit', [:edit, @family, child] %></td>
    <td><%= link_to 'Destroy', [@family, child], 
      :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Child', 
  new_family_child_path(@family) %>