<h1>Editing family</h1>

<% form_for(@family) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :lastname %><br />
    <%= f.text_field :lastname %>
  </p>
  <p>
    <%= f.label :firstname %><br />
    <%= f.text_field :firstname %>
  </p>
  <p>
    <%= f.label :phone %><br />
    <%= f.text_field :phone %>
  </p>
  <p>
    <%= f.label :address %><br />
    <%= f.text_field :address %>
  </p>
  <p>
    <%= f.label :directions %><br />
    <%= f.text_field :directions %>
  </p>
  <p>
    <%= f.label :familysize %><br />
    <%= f.text_field :familysize %>
  </p>
  <p>
    <%= f.label :childrensize %><br />
    <%= f.text_field :childrensize %>
  </p>
  <p>
    <%= f.label :foodonly %><br />
	<%= select (:family, :pickup, {"No" => 0, "Yes" => 1}) %>
  </p>
  <p>
	<%= f.label :pickup %><br />
	<%= select (:family, :pickup, {"Pickup" => 0, "Delivery" => 1}) %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @family %> |
<%= link_to 'Back', families_path %>
