<% content_for :sidebar do %>
<p>
	<%= link_to image_tag('new_family_icon.png'), new_family_path %>
</p>
	<p>
		Currently <%= Family.count %> families in Tribuo.
	</p>
	<p>
		On the Families page, you can see all
		the families you've entered into Tribuo, along
		with some basic information about each one.
		To see more detailed information, or to perform
		changes, click a family.
	</p>
	<p>
		If a family is highlighted in red, the number of 
		children declared doesn't match the number of children
		actually entered and needs to be reviewed.
	</p>
<% end %>

<p>Search (via Last Name for now):
	<% form_tag families_path, :method => 'get' do %>
	  <%= text_field_tag :search, params[:search] %>
	  <%= select_tag :searchfield, options_for_select({'Last Name' => 'lastname', 'First Name' => 'firstname', 'Phone' => 'phone', 'Address' => 'address', 'Size' => 'size', 'Children' => 'childrensize', 'Box' => 'box'}, params[:searchfield]) %>
	  <%= submit_tag "Search", :name => nil %>
	<% end %>	
	<%= link_to "Reset", :controller => "families" %>
</p>
<table class="family-list">
  <tr class="family-list-header">
	<th>		</th>
    <th><%= link_to "Last Name", :controller => "families", :order => "lastname", :search => params[:search], :page => params[:page] %></th>
    <th><%= link_to "First Name", :controller => "families", :order => "firstname", :search => params[:search], :page => params[:page] %></th>
    <th><%= link_to "Phone", :controller => "families", :order => "phone", :search => params[:search] %></th>
    <th><%= link_to "Size", :controller => "families", :order => "familysize", :search => params[:search] %></th>
    <th><%= link_to "Children", :controller => "families", :order => "childrensize", :search => params[:search] %></th>
    <th><%= link_to "Food Only?", :controller => "families", :order => "foodonly", :search => params[:search] %></th>
    <th><%= link_to "Box", :controller => "families", :order => "box", :search => params[:search] %></th>
  </tr>

<% for family in @families %>
<% if family.childrensize != family.children_count
		familyliststyle="family-row-error"
	else
		familyliststyle="family-row"
	end
	
	if family.flag == true
		familyliststyle="family-row-flagged"
		flagimage = "StarIconGold.png"
	else
		flagimage = "StarIconSilver.png"
	end
	
%>
  <tr id= "family_<%= family.id %>" class="<%= familyliststyle %>">
	<td class="family-row-flag"><%= link_to_remote image_tag(flagimage,:id => "flag_image_#{family.id}", :class => 'family_flag_image'), :url => {:controller => 'javascripts', :action => 'flag_family', :id => family.id, :flag => true}, :method => :put %></td>
    <td class="family-row-lastname"><%=h family.lastname %></td>
    <td class="family-row-firstname"><%=h family.firstname %></td>
    <td class="family-row-phone"><%=h family.phone %></td>
    <td class="family-row-size"><%=h family.familysize %></td>
    <td class="family-row-childrensize"><%=h family.childrensize %></td>
    <td class="family-row-foodonly"><%=h family.human_foodonly %></td>
    <td class="family-row-box"><%=h family.box %></td>
    <td><span class="family-row-action"><%= link_to 'Show', family %></span></td>
	<td><span class="family-row-action"><%= link_to 'Delete', family, :confirm => "Are you sure?", :method => "delete" %></span></td>
  </tr>
<% end %>
</table>

<br />
<%= will_paginate @families %>

<%= link_to 'New family', new_family_path %>
