<% content_for :sidebar do %>

<p>
	<%= link_to image_tag('new_family_icon.png'), new_family_path %>
</p>
		At a glance:
	</p>
	<p>
	  <b>Box:</b>
	  <% unless @family.box %>
	  	None yet.
	  <% else %>
	  <%=h @family.box %>
	  <% end %>
	</p>
	<p>
		<b>Entered by:</b>
		<%=h @family.user.name %>
	</p>
	<% unless @family.children.size == @family.childrensize %>
	<p>
		The number of children entered doesn't match the number declared. Please check your records.
	</p>
	<% end %>

	<p>
		Some of the items on this page can be edited in place. These will highlight yellow whenever you hover over them.  Items that aren't editable here can be changed by clicking the Edit This Family link at the bottom, or the View and Edit Children link.
	</p>
<% end %>
<p>
<%= editable_content_tag(:span, @family, 'firstname', true, nil,{:class => "show_family_name"},{:okText => 'Save'}) %>
<%= editable_content_tag(:span, @family, 'lastname', true, nil,{:class => "show_family_name"},{:okText => 'Save'}) %>
</p>
<span id="family_<%= @family.id %>">Flagged? </span>
<%= link_to_remote image_tag(@flagimage, :class => 'family_flag_image', :id=>"flag_image_#{@family.id}"), :url => {:controller => 'javascripts', :action => 'flag_family', :id => @family.id, :flag => true}, :method => :put %>

<br/>
<p>Phone:<br/> 
<%= editable_content_tag(:span, @family, 'phone', true, nil,{:class => "show_family_info"},{:okText => 'Save'}) %>
<br/>
Address: <br/>
<%= editable_content_tag(:span, @family, 'address', true, nil,{:class => "show_family_info"},{:okText => 'Save'}) %>
<br/>
Directions: <br/>
<%= editable_content_tag(:span, @family, 'directions', true, nil,{:class => "show_family_info"},{:okText => 'Save'}) %>
<br/>
<span>Size: </span>
<%= editable_content_tag(:span, @family, 'familysize', true, nil,{:class => "show_family_info"},{:okText => 'Save'}) %>
<br/>
<span>Children: </span>
<%= editable_content_tag(:span, @family, 'childrensize', true, nil,{:class => "show_family_info"},{:okText => 'Save'}) %>
<br/>
  Food Only: 
  <%=h @family.human_foodonly %>
<br/>
  Pickup/Delivery: 
  <%=h @family.human_pickup %>
</p>

<!-- The Childrens -->
<div id="children_box">
	<h3>Children</h3>
	<table>
<% unless @family.children.empty? %>
  <% @family.children.each do |child| %>
		<tr>
  			<td>
				<%= editable_content_tag(:span, child, 'name', true, "/families/#{@family.id}/children/#{child.id}",{:class => "show_child_name"},{:okText => 'Save'}) %>
			</td>	
			<td>
				<%= child.human_gender %>
			</td>
			<td>

					<%= editable_content_tag(:span, child, 'age', true, "/families/#{@family.id}/children/#{child.id}",{:class => "show_child_name"},{:okText => 'Save'}) %>
			</td>
			<td>	
				<%=h child.human_type %>
			</td>
			<td>
				<%= link_to 'Remove', [@family, child], :confirm => 'Are you sure?', :method => :delete %>
			</td>
		</tr>
  <% end %>
<% end %>
	</table>
</div>
<p>
	Add another child...
</p>
<!-- #New Child Form -->
<%= render :partial => @child = Child.new, 
   :locals => { :button_name => 'Create'}%>

<%= link_to 'View and Edit Children', family_children_path(@family) %> |
<%= link_to 'Edit this Family', edit_family_path(@family) %> |
<%= link_to 'Back to List', families_path %>
