<% content_for :sidebar do %>
	<p>
		On the Food Shopping list, you can view the actual quantities and costs associated with the families you've already entered.  The second set of columns estimates the necessary quantities and costs needed to cover your actual families and the reserve boxes usually created, which defaults at 40.
	</p>
<% end %>
<table id="food_list_table" class="family-list">
	<tr>
		<th>
			Food
		</th>
		<th>
			Real Quantity
		</th>
		<th>
			Real Cost
		</th>
		<th>
			With Extra Quantity
		</th>
		<th>
			With Extra Cost
		</th>
	</tr>
<%
@extratotal = 0
@foodtotal = 0
for fd in @food
	rowclass = cycle("family-row-even", "family-row-odd")
%>
	<tr class="<%= rowclass %>">
		<td>
			<%= fd.name %> 
		</td>
		<td>
			<%= @foodcounts[fd][:quantity] %>
		</td>
		<td>
			<%= @foodcounts[fd][:cost] %>
			<% @foodtotal += @foodcounts[fd][:cost] -%>
		</td>
		<td>
			<%= @foodcounts[fd][:quanextra] %>
		</td>
		<td>
			<%= @foodcounts[fd][:costextra] %>
			<% @extratotal += @foodcounts[fd][:costextra] -%>
		</td>
	</tr>
<%	
end
%>
	<tr>
		<td>
			Total
		</td>
		<td>
		</td>
		<td>
			<%= @foodtotal %>
		</td>
		<td>
		</td>
		<td>
			<%= @extratotal %>
		</td>
	</tr>
</table>