
<table id="food_list_table">
	<tr>
		<th>
			Food
		</th>
		<th>
			Real Quantity
		</th>
		<th>
			Real Cost
		</th>
		<th>
			With Extra Quantity
		</th>
		<th>
			With Extra Cost
		</th>
	</tr>
<%
@extratotal = 0
@foodtotal = 0
for fd in @food
%>
	<tr>
		<td>
			<%= fd.name %> 
		</td>
		<td>
			<%= @foodcounts[fd][:quantity] %>
		</td>
		<td>
			<%= @foodcounts[fd][:cost] %>
			<% @foodtotal += @foodcounts[fd][:cost] -%>
		</td>
		<td>
			<%= @foodcounts[fd][:quanextra] %>
		</td>
		<td>
			<%= @foodcounts[fd][:costextra] %>
			<% @extratotal += @foodcounts[fd][:costextra] -%>
		</td>
	</tr>
<%	
end
%>
	<tr>
		<td>
			Total
		</td>
		<td>
		</td>
		<td>
			<%= @foodtotal %>
		</td>
		<td>
		</td>
		<td>
			<%= @extratotal %>
		</td>
	</tr>
</table>