<% content_for :sidebar do %>
	<p>
		On this page, you can invite other users to Tribuo. If you run out of invites and need more, contact your administrator.
	</p>
<% end %>

<h1>Create a new invitation</h1>

<% form_for(@invitation) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :recipient_email %><br />
    <%= f.text_field :recipient_email %>
  </p>

  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', invitations_path %>
