				
				<div id="logo">
					<%= link_to image_tag('tribuoheadermed.png'), :controller => :main, :action => :index %>
				</div>
				<div id="<%= @IS_MAINTENANCE_MODE == "0" ? "user" : "userman" %>">
					<% if logged_in? %>
					<p>
						<span class="logout-link"><%= link_to "Logout", logout_url %></span><br/>
						<% if current_user.invitation_limit > 0 %>
						<span class="invite-link">	<%= link_to 'Send invitation', new_invitation_path %>
							(<%= current_user.invitation_limit %> left)</span><br/>
						<% end %>
						<span class="user-greeting"><%= link_to_user current_user, :content_method => :name %></span>
					</p>
					<% end %>
				
				</div>
				<div id="menu">
					<ul>
						<li><%= link_to "Families", :controller => "families" %></li>
						<li><%= link_to "Activities", :controller => "activities" %></li>
						<li><%= link_to "Settings", :controller => "settings" %></li>
					</ul>
				</div>